body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: aqua;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    color: black;
}
#header-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
#header-container * {
    display: inline-block;
}
.headerItem div:last-child a button{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 7px;
}
.headerItem div:last-child {
    background-color: blue;
    width: 200px;
}
header nav ul li{
    list-style: none;
    display: inline-block;
    margin-right:15px;
}
.headerItem div{
    display: inline-block;
}
header nav {
    display: flex;
    justify-content: space-between;
}
header #right *{
    display: inline-block;
}